.basket__order {
  height: 90vh;

  &-wrap {
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &-top {
    width: 25%;
  }

  &-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    > div {
      display: flex;
      gap: 5px;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
  }

  .add {
    border: 1px solid #142147;
    gap: 20px;
  }
}
