.login-page {
  height: 95%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: auto;

  &__wrap {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .next__button-item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: $white-color;
    font-size: 18px;
    background-color: $main-color;

    &:hover {
      background-color: $main-color !important;
      border-color: inherit !important;
      color: $white-color !important;
      box-shadow: none !important;
    }
  }

  .form__wrap {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }

  &__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .input__name,
  .input__password {
    width: 100%;
    height: 45px;
    outline: none;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 0 12px;
    font-size: 15px;
  }

  .ant-input {
    padding: 8px;
  }

  .ant-input-group-addon {
    background-color: white;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .ant-input-status-error:not(:disabled) {
    border: none !important;
  }

  .ant-input-status-error:focus {
    border-left-color: transparent;
  }

  .checkbox__div {
    display: flex;
    align-items: center;
    gap: 12px;

    > input {
      width: 40px;
      height: 40px;
    }

    > span {
      color: #898989;
      font-size: 12px;
    }
  }
}
